alias be="bundle exec"
alias bec="be cucumber"
alias bu="bundle update"
alias reload="source ~/.bashrc"
alias push="git push"
alias pull="git pull"
alias gsd="git svn dcommit"
alias r="rails"
alias slt='open -a "Sublime Text 2"'
alias mate="slt"
alias g="git"