[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/rails"]
	path = .vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/ruby"]
	path = .vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-cucumber"]
	path = .vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule ".vim/bundle/vim-capslock"]
	path = .vim/bundle/vim-capslock
	url = https://github.com/tpope/vim-capslock.git
