.DS_Store
.Trash
/.CFUserTextEncoding
/.bash_history
/.bbc
/.dropbox
/.fontconfig
/.fonts
/.gem
/.heroku/credentials
/.homesick
/.irb-history
/.irb_history
/.jenkins
/.mysql_history
/.netrc
/.npm
/.private_aliases
/.relish
/.rvm
/.sauce/ondemand.yml
/.smb
/.ssh
/.sqlite_history
/.subversion
/.subversion_IDEA
/.viminfo
/.wireshark
/.wireshark-etc
/.xbmc
/bin
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/Sites
/VirtualBox VMs
db/*.sqlite3
log/*.log
tmp
vendor/cache/*
