.DS_Store
.Trash
/.CFUserTextEncoding
/.bash_history
/.bbc
/.dropbox
/.fontconfig
/.fonts
/.gem
/.heroku/credentials
/.homesick
/.irb-history
/.irb_history
/.jenkins
/.mysql_history
/.netrc
/.npm
/.private_aliases
/.relish
/.rvm
/.sauce/ondemand.yml
/.smb
/.ssh
/.sqlite_history
/.subversion
/.subversion_IDEA
/.viminfo
/.wireshark
/.wireshark-etc
/.xbmc
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Sites
/VirtualBox VMs
db/*.sqlite3
log/*.log
tmp
capybara-*.html
.Xauthority
.dvdcss/CACHEDIR.TAG
.pow
pow/
SCRATCH
BACKLOG
*.sublime-project
*.sublime-workspace
node_modules
Google Drive
.pry_history
.psql_history
.cocoapods
.CF*
.rdebug_hist
.rnd
.swfinfo
coverage/
rerun.txt
.repl_history
*.swp
tags
work/ # not working
.bundler/cache
.heroku/
.rbenv
code/
play/
Documentation/
.vimgolf/
Public/
.m2/
.itmstransporter/
Applications/
.gitsh_history
.guard_history
.exercism
.amazon_keys
.htoprc
.cheat/
.putty/randomseed
.tddium
.lesshst
.yard/
ReadyNAS Remote Shares/
.config/direnv/allow/
