[user]
	name = Andy Waite
	email = github.aw@andywaite.com
[core]
  excludesfile = /Users/andy/.gitignore
[github]
  user = andyw8
  token = 013f78cab48467c08a124f11d6374741
# everything below here stolen from https://github.com/garybernhardt/dotfiles/blob/master/.gitconfig
[diff]
[color]
    ui = auto
# some of these are suggestions from http://gitimmersion.com/lab_11.html
[alias]
    aa = add --all
    amend = commit --amend
    b = branch
    br = branch
    ci = commit
    co = checkout
    cm = commit
    dc = diff --cached
    dh1 = diff HEAD~1
    di = diff
    div = divergence
    ds = diff --stat=160,120
    dump = cat-file -p
    fa = fetch --all
    ff = merge --ff-only
    gn = goodness
    gnc = goodness --cached
    h = !git head
    head = !git l -1
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    hp = "!source ~/.githelpers && show_git_head"
    l = "!source ~/.githelpers && pretty_git_log"
    la = !git l --all
    noff = merge --no-ff
    pom = push origin master
    pullff = pull --ff-only
    pushall = push --recurse-submodules=on-demand
    r = !git l -20
    ra = !git r --all
    remotes = remote -v
    st = status
    tags = tag -l
    type = cat-file -t
[merge]
    tool = vim
[push]
	default = simple
[branch]
	autosetuprebase = always
[status]
	short = 1
	branch = 1
[branch]
	autosetuprebase = always
[init]
	templatedir = ~/dotfiles/.git_template
